.item{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 40vw;
    background-color: #252525;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25vw;
    margin: 50px 0;
    padding: 0;
    font-size: 1.15rem;
}